@media only screen and (max-width:600px){
    .paginaprincipal2{
        display: flex;
        flex-wrap: wrap;
    }
    .nav ul {
        width: 100%;
        min-height: 250px;
        display: flex;
        flex-wrap: wrap;
    }
    footer {
        width:100%;
        min-height: 250px;
        background: #272c3d;
        display: flex;
        flex-wrap: wrap;
    }
    li a, .dropbtn{
        display: flex;
        flex-wrap: wrap;
        color: #fff;
        text-decoration: none;
        text-align: center;
        padding: 14px 16px;
    }
    li a:hover, .dropdown:hover .dropbtn{
        background-color: #7a89c4;
        color: #fff;
    }
    li.dropdown {
        display: flex;
        flex-wrap: wrap;
    }
    .dropdown-content{
        display:none;
        position: absolute;
        background: #2d2d39;
        width: 150px;
    }
    .dropdown-content a {
        color: #fff;
        display: block;
        text-align: left;
        border-radius: 16px;
        transition: 300ms;
    }
    
    .dropdown-content a:hover {
        color: #5b5b5b;
        text-shadow:2px 2px 5px #5b5b5b;
    }
    
    .dropdown:hover .dropdown-content{
        display:block;
    }
}
@media only screen and (max-width:992px){
    .paginaprincipal2{
        display: flex;
        flex-wrap: wrap;
    }
    .nav ul {
        width: 100%;
        min-height: 250px;
        display: flex;
        flex-wrap: wrap;
    }
    footer {
        width:100%;
        min-height: 250px;
        background: #272c3d;
        display: flex;
        flex-wrap: wrap;
    }
    li.dropdown{
        display: flex;
        flex-wrap: wrap;
    }
    li a, .dropbtn{
        display: flex;
        flex-wrap: wrap;
        color: #fff;
        text-decoration: none;
        text-align: center;
        padding: 14px 16px;
    }
    li a:hover, .dropdown:hover .dropbtn{
        background-color: #7a89c4;
        color: #fff;
    }
    .dropdown-content{
        display:none;
        position: absolute;
        background: #2d2d39;
        width: 150px;
    }
    .dropdown-content a {
        color: #fff;
        display: block;
        text-align: left;
        border-radius: 16px;
        transition: 300ms;
    }
    
    .dropdown-content a:hover {
        color: #5b5b5b;
        text-shadow:2px 2px 5px #5b5b5b;
    }
    
    .dropdown:hover .dropdown-content{
        display:block;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 16px;
    font-family: dubai;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    color: #000;
    background: #fefce5ec;
}
h1 {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    display: inline-block;
}
.container-logo {
    overflow: auto;
    text-align:center;
}
.container-logo img{
    float: center;
} 
ul.nav{
    background: #e4e2c4;
    list-style-type: none;
    border-top:0px solid #666565;
    border-bottom:0px solid #666565;
    text-shadow:2px 2px 5px #fff;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
li {
    float:center;
}
li a, .dropbtn{
    display: inline-block;
    color: #000;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}
li a:hover, .dropdown:hover .dropbtn{
    background-color: #fefce5ec;
    color: #000;
}
li.dropdown {
    display: inline-block;
}
.dropdown-content{
    display:none;
    position: absolute;
    background: #e4e2c4;
    width: 150px;
}
.dropdown-content a {
    color: #000;
    display: block;
    text-align: left;
    border-radius: 16px;
    transition: 300ms;
}

.dropdown-content a:hover {
    color: #5b5b5b;
    text-shadow:2px 2px 5px #fff;
}

.dropdown:hover .dropdown-content{
    display:block;
}
.paginaprincipal2{
    float: right;
    padding: 0 6em 0 0em;
}
.paginaprincipal a:hover{
    background: #e4e2c4;
    color: #5b5b5b;
}
img{
    border: 0px ridge #fff; 
    border-radius:10px;
}
ul li a:hover {
    color: #272c3d;
    transition: .3s;
}
footer {
    width:100%;
    min-height: 250px;
    background: #e4e2c4;
    display: flex;
}
footer .boxs {
    min-height: 150px;
    padding: 0px;
    margin: 0px;
}
footer .boxs:nth-child(4) {
    width: 400px;
}
.boxs h2 {
    margin-top: 25px;
    margin-bottom: 0;
    color: #000;
}
.boxs ul li {
    margin: 10px 0px;
    list-style: none;
}
.boxs ul li a {
    color: #000;
    text-shadow: 2px 2px 5px;
    text-decoration: none;
}
.boxs ul li a:hover {
    color: #5b5b5b;
}
footer .boxs, .box{
    width: 100%;
    text-align: center;
}
.CR {
    font-size: 0.75rem;
    display: inline;
   }